#set( $map = {} )
#set( $lst = [] )
$util.qr($lst.add("a"))
$util.qr($lst.add(2))
$util.qr($map.put("foo", "this is a string"))
$util.qr($map.put("bar", 23))
$util.qr($map.put("baz", true))
$util.qr($map.put("qux", $lst))
$util.qr($map.put("quux", null))
$util.qr($map.put("corge", {}))

$util.dynamodb.toDynamoDBJson($map)
